
html { overflow-y: hidden; }
* {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
    
  }
  
  /* для Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: 3px solid transparent;
  }
  
.btn-add-check {
    width: 188px;
    height: 45px;
    color: var(--colors-textwhite);
    text-align: left;
    display: flex;
    padding-left: 25px;
    align-items: center;
    font-size: 12px;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: var(--colors-primary);
}
.btn-add-operation {
    width: 188px;
    height: 45px;
    color: var(--colors-textwhite);
    text-align: left;
    display: flex;
    padding-left: 25px;
    align-items: center;
    font-size: 12px;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: var(--colors-accept);
}
.buttons-wrapper {
    height: 10%;
    border-radius: 25px 25px 0 0 ;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
}
.list-wrapper {
    overflow: auto;
    padding: 10px;
    position: relative;
    z-index: 3;
    height: 90%;
    background-color: transparent;
}
.cassa-list-wrapper {
    z-index: -2;
    height: 100vh;
    width: 100%;
    background-color: var(--colors-background);
    overflow: auto;
}

.login-bottomimg {
    filter: blur(2px);
    position: absolute;
    height: 225px;
    margin-bottom: 15px;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.login-topimg {
    filter: blur(2px);
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 1;
}
select{
  text-align: center;
}

.center{
  position: absolute;
  margin-left: 15%;
  display: inline-block;
  width: 70%;
  height: 90px;
  z-index: 1;
}
.left{
  position: absolute;
  width:15%; 
  height: 90px;
  margin-right: 85%;
  margin-left: 0%;
  display: inline-block;
  /* background-color: aqua; */
  z-index: 2;
  
}
.left:hover~ .item-wrapper{
    transform:translate(15%);
}
.edit_img{
  height: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: 10%;
  visibility: hidden;
}
.left:hover .edit_img{
visibility: visible;

}
.right{
  position: absolute;
  width:15%;
  height: 90px;
  margin-right:0%;
  margin-left:85%;
  display: inline-block;
  z-index: 2;
}

.right:hover~ .item-wrapper{
  transform:translate(-15%);
}

.delete_img{
  height: 50px;
  margin-top: 20px;
  margin-right: 30%;
  margin-left: auto;
  visibility: hidden;
}
.right:hover .delete_img{
  visibility: visible;
}

/* .modal_bottombuttons{
  margin-bottom: 10%;
  margin-top: 50%;
  width: 100%;
} */

/* .modal_deletebtn{
  background-color: darkolivegreen;
  border-radius: 25px;
  width: 100px;
  height: 25px;
  margin-left: 15%;
} */

::-webkit-input-placeholder {
  text-align:center;
  }
:-moz-placeholder { /* Firefox 18- */
     text-align:center;  
  }  
::-moz-placeholder {  /* Firefox 19+ */
     text-align:center;  
  } 
:-ms-input-placeholder {  
     text-align:center; 
  }

.modal_acceptbtn{
  background-color: #6DC199;
  border-radius: 25px;
  width: 100px;
  height: 25px;
}
.modal_cancelbtn{
  background-color: #C16D85;
  border-radius: 25px;
  width: 100px;
  height: 25px;
  margin-right: 15%;
}
/* Модальное окно добавления счёта */
.modal_divName{
	background-color: white;
	border-radius: 25px;
	width: 80%;
  height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;	
	font-size: 20px;
}
.modal_divselect{
  display: inline-flex;
  width: 80%;
  height: 50px;
  margin-top: 30px;
  justify-content: space-evenly;
}

.modal_labelselect{
  color: white;
  line-height: 50px;
  width: fit-content;
}
.modal_cassaBankSelect{
	background-color: white;
	margin-top: 10px;
  margin-right: 0%;
  margin-left: auto;
	width: 150px;
  height: 30px;
	overflow: visible;
	border: 0.2em solid;
	font-size: 20px;
	border-radius: 35px;
}
.modal_divimageSelect{
  width: 80%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.modal_selectGroup{
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  color: white;
}
.modal_chooseImage{
	background-color: white;
	border-radius: 50%;
	width: 98px;
	height: 98px;
	padding: 10%;
 
  align-items: center;
  display: inline-flex;
	/* margin-top: 20px; */
	/* margin-left: 10%; */
}
.modal_divImg{
  width: fit-content;
  margin-right: 0%;
  margin-left: auto;
}
.modal_divinputcolor{
  width: fit-content;
  margin-left: auto;
  margin-right: 0%;
}
.modal_divcolor{
	background-color: white;
	justify-content: right;
  min-width: 120px;
	height: 30px;
  margin-top: 10px;
  margin-left: auto;
	margin-right: 0%; 
	align-items: center;
	border-radius: 25px;
	display: inline-flex;
}
.modal_inputcolor{
	position: relative;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 100%;
	border-radius: 25px;
}
.modal_labelcolor{
	/* display: inline-flex; */	
	margin-left: auto;
	margin-right: 1em; 
}

/* Модальное окно добавления операции */
.modal_adress{
  display: inline-flex;
  width: 80%;
  margin-top: 10px;
  justify-content: space-between;
}
.modal_divadress{
  width: 70%;
  background-color: white;
  border-radius: 25px;
  height: 50px;
}
.modal_inputall{
  height: 50px;
  width: 100%;
}
.modal_divadressmark{
  background-color: orange;
  width: 80px;
  height: 50px;
  border-radius: 25px;
}
.modal_divPlan{
  align-items: center;
  justify-content: space-around;
  display: inline-flex;
  width: 80%;
}
.modal_labalPlan{
  color: white;
  width: 100%;
  font-size: 19px;
  margin-top: 15px;
  margin-right: 0%;
  margin-left: auto;
}
.modal_checkboxPlan{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal_customCheckbox{
  position:absolute;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  margin-right: 0px;
  background-image: url(~/assets/imgs/checkbox_empty.svg);
}
.modal_checkboxPlan:checked + .modal_customCheckbox{
  background-image: url(~/assets/imgs/checkbox_checked.svg);
}
.modal_bottomButtonsAddOperation{
  display: inline-flex;
  width: 100%;
  max-width: 300px;
  align-items: center;
  justify-content: space-around;
}
.modal_arrowUP{
  width: 62px;
  height: 62px;
  background: linear-gradient(0deg, #C16D85, #C16D85), linear-gradient(0deg, #6DC199, #6DC199), linear-gradient(0deg, #6DC199, #6DC199), #6DC199;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 62px;
  padding: 12px;
}
.modal_photoBtn{
  width: 82px;
  height: 82px;
  background: linear-gradient(0deg, #F5F5F5, #F5F5F5), linear-gradient(0deg, #6DC199, #6DC199), linear-gradient(0deg, #6DC199, #6DC199), #6DC199;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 82px;
  padding: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.modal_arrowDWN{
  width: 62px;
  height: 62px;
  background: linear-gradient(0deg, #6DC199, #6DC199), linear-gradient(0deg, #6DC199, #6DC199), linear-gradient(0deg, #6DC199, #6DC199), #6DC199;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 62px;
  padding: 12px;
  margin-left: 10px;
}

  /* Модальное окно обновления */
.modal_cassaID{
  width: 100%;
}
.modal_updatePictr{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}
.modal_updateImgSelect{
  position: relative;
/*   margin-top: 50%; */
  width: 120px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px;
}
.modal_bottombuttonsDelete{
  margin-top: 20px;
}
.modal_bottombuttonsUpdate{
  margin-top: 20px;
}