.body{
    font-family: Roboto;
    font-style: normal;
}
.main_frame {
    width: 100%;
    height: 100%;
    background-color: black;
}
.top_half{
    position: relative;
    background-color: #856D9E;
    width: 100%;
    height: 40%;
    color: white;
    align-items: center;
    padding-bottom: 5%;
}
.balance{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}
.balance_text, .balance_number{
    font-size: 200%;
    font-weight: 400;
    line-height: 100%;     
}
.currency_balance{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
    line-height: 100%;     
}
.currency_balance_text{
    font-size: 200%;
    line-height: 100%;     
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
}
.currency_balance_usd, .currency_balance_eur{
    margin-bottom: 20px;
    font-size: 200%;
}
.digit_color, .currency_balance_usd, .currency_balance_eur{
    color: #D9D9D9;
}
.currency_button{
    width: 50%;
    max-width: 300px;
    height: 20%;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #5D5169;
    border-radius: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-column-gap: 0px;
    align-items: center;
}
.eye_svg {
    position: relative;
    top: 10%;
    left: 5%;
}
.pen_svg{
    position: relative;
    top: 10%;
    left: 5%;
}
.currency_button_left, .currency_button_right{
    position: relative;    
    left: 5%;
    font-weight: 300;
    font-size: 150%;
    max-height: fit-content;
    /* line-height: 0;*/
}
.bottom_half{
    position: absolute;    
    width: 100%;
    height: 100%;    
    background: #5D5169;     
}
.manipulating_buttons{        
    position: relative;
    color: #FFFFFF;
    width: 100%;
    max-height: max-content;
    height: 10%;                
    top: 5px;
    display: flex;
    justify-content: center;        
    align-items: center;
}
.arrow_up, .arrow_down{
    position: sticky;
    max-block-size: 50px;
    margin-left: 27%;
    margin-right: auto;
}
.planning_button, .upside_button, .downside_button, .cash, .non-cash{
    position: relative;
    height: 100%;
    max-block-size: 50px;
    align-content: center;
    font-weight: 500;
    font-size: 170%;
    text-align: center;     
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
.planning_button{
    position: relative;
    line-height: 270%;
    font-size: large;
    width: 20%;
    max-width: 150px;
    background: #C16D85;
}
.upside_button{
    line-height: 100%;       
    width: 15%;
    max-width: 100px;
    background: #357D3C;
}
.downside_button{    
    line-height: 100%;
    width: 15%;
    max-width: 100px;
    background: #7D3535;               
}
.cash, .non-cash{
    line-height: 270%;
    font-size: large;
    width: 25%;
    max-width:150px;
    background: #355C7D;
}
.last_operations_list{
    padding-bottom: 20%;
    background: #5D5169;
}
.history_panels{ 
    position: relative;
    width: 99%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    line-height: 55%;
    display: flex;
    justify-content: space-around;
}
.store_background{
    position: relative;
    background: #F6BD88;    
    width:10%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
    margin-right: auto;
    display: flex;
}
.store_image{
    margin-left: 20%;
}
.store_info{
    position: relative;
    margin-right: auto;
    width: 60%;
    height: 10%;
    top: 5%;  
    text-align: left;    
}
.store_info_name{
    position: relative;
    text-align: left;
    font-weight: 700;
    font-size: 130%;
    line-height: 120%;
}
.store_info_adress{
    position: relative;
    font-weight: 400;
    font-size: 90%;
    line-height: 12px;
    text-align: left;
    color: #8C8C8C;
    top: 10%;
    margin-right: auto;
}
.cost{
    position: relative;
    margin-left: auto;
    font-weight: 500;
    font-size: large;
    text-align: right;
    width: 30%;
    line-height: 100%;
    margin-top: 1%;
}
.bottom_panel{
    position: fixed;
    width: 100%;
    height: 15%;
    bottom: -20px;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.list_of_bills, .add_operation{
    position: relative;
    width: 40%;
    height: 30%;
    top: 30%;
    font-weight: 400;
    font-size: 100%;
    line-height: 250%;
    text-align: center;
    color: #FFFFFF;   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.list_of_bills{
    right: 10px;
    background: #355C7D;
}
.add_operation{
    left: 10px;        
    background: #C16D85;      
}
.stats_text{
    position: absolute;
    font-weight: 400;
    font-size: 150%;
    line-height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
}
svg{
    width: 100%;
    height: 100%;
}
@media (max-width: 600px) {.currency_button_left, .currency_button_right {font-size: 130%;}}
@media (min-width: 450px) {.store_background{width: 65px;}}