.modal{
	padding: 15px;
	position: absolute;
	top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 70%;
	align-items: center;
	text-align: center;
	background-color: #5C4E6A;
	border-radius: 25px;
	box-shadow: 10px,10px,10px,10px;
	z-index: 4;
}
.modal_header{
	color: aliceblue;
	display: flex;
	justify-content: center;	
	font-size: x-large;
}
.modal_content{
	display: block;
	justify-content:center;
}
.modal_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
